body{background-color: rgb(190, 194, 199);}
.div1{background-color: rgb(111, 151, 167);text-align: center;padding:3% 6% ;border-radius: 5px;}
.main{margin: 5% 20%;}
.col-6{float: left;}
input.col-2{background-color: blue;color: white;}
#btn1:hover,#btn2:hover,#btn3:hover{background-color: lightblue;color: black;}
h1,.p,.div11,.div12{padding: 3%;}
.button1{color: white;background-color: green;font-size: x-large;border-radius: 10px;}
.button1:hover{background-color: lawngreen;}
.button2{color: white;background-color: blue;font-size: x-large;border-radius: 10px;}
.button2:hover{background-color: lightseagreen;}
.div21,.div22,p{padding: 10px;}
.head{font-size: x-large;}
nav{margin:3% 15% 0}
a{background-color: chocolate;color: cornsilk;font-size: large;padding:10px 10px 0;margin: 0 5px;border-radius: 30px;}
a:hover{background-color:rgb(255, 194, 41);}



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}