#main{
    border: 3px solid black;
    background-color: lightsteelblue;
    margin: 0 15%;
    font-size: larger;
}
form{padding: 20px;}
#full{padding: 3%}
.input{width: 75%;height: 5px;padding: 15px;}
.opt{width: 75%;height:5%;padding: 10px}
.submit{margin-left: 45%;font-size: larger;color: honeydew;background-color :rgb(22, 60, 131);}
.col-6{float: left;}
.submit{margin-top: 2%;}
#bor{border:1px black;}
#ord{order: 1;}
.nav{margin:3% 15%}
a{background-color: chocolate;color: cornsilk;font-size: large;padding:10px 10px 0;margin: 0 5px;border-radius: 30px;}
a:hover{background-color: rgb(255, 194, 41);}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}
